body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
}

.navbar .brand{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.navbar .brand img{
    height: 40px;
    margin-right: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

.search-bar{
   display: flex;
   align-items: center;
   background-color: white;
   padding: 2px;
   border-radius: 25px;
   flex-grow: 0.25;
   max-width: 500px;
}

.search-bar input[type="text"]{
    padding: 0.5rem;
    font-size: 1rem;
    border: 0px none #cccccc;
    border-radius: 25px;
    margin-right: 0.5rem;
    flex-grow: 1;
}

.search-bar button {
    padding: 5px 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.search-bar button.search {
    background-color: #2c7e2f;
    color: white;
    margin-right: 0.5rem;
}
.search-bar button.reset {
    background-color: #2c7e2f;
    color: white;
    margin-right: 0.5rem;
}

svg{
    color: #2c7e2f;
    margin-right: 0.5rem;
}

::placeholder{
    color: #2c7e2f;
    font-size: 15px;
}
 @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
                align-items: flex-start;
            }
            .navbar .brand {
                margin-bottom: 0.5rem;
            }
            .navbar .links {
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 1rem;
            }
            .navbar a {
                margin: 0.5rem 0;
            }
            .search-bar {
                width: 100%;
                margin: 0;
            }
        }
.hero{
    position: relative;
    text-align: left;
    color: white;
    background: url(touriste6.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.hero h1{
    font-size: 3rem;
    margin: 0;
}

.hero p {
            font-size: 1rem;
            margin: 1rem 0;
            max-width: 600px;
        }

.social-icons svg {
    width: 24px;
    height: 24px;
    fill: grey;
    transition: transform 0.2s;
    left: 10px;
    top: 50%;
    position: relative;
    
}
.social-icons a:hover svg {
    transform: scale(1.2);
    fill: #4CAF50;
}

