body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
}

.navbar .brand{
    display: flex;
    align-items: center;
}

.navbar .brand img{
    height: 40px;
    margin-right: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar a:hover{
    text-decoration: underline;
}

.search-bar{
   display: flex;
   align-items: center;
   background-color: white;
   padding: 0.5rem;
   border-radius: 25px;
}

.search-bar input[type="text"]{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px none #ccc;
    border-radius: 20px;
    margin-right: 0.5rem;
}

.search-bar button {
    padding: -0.25rem -0.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button.search {
    background-color: #4CAF50;
    color: white;
}
.search-bar button.reset {
    background-color: #f44336;
    color: white;
    margin-left: 0.5rem;
}